<%= form_for @tweets , url: {action: :update} do |f| %>
 <%= f.label :message, 'メッセージ' %>
 <%= f.text_field :message %>
 <%= f.label :tdate '日付' %>
 <%= f.datetime_select :tdate %>
 <%= f.submit '更新' %>
 
<% end %>