<% @tweets.each do |tweet| %>
<p> <%= link_to tweet.tdate, tweet.message %>
 <%= link_to '削除', "tweets/#{tweet.id}", method: :delete %>
 <%= link_to '表示', "tweets/#{tweet.id}" %>
 <%= link_to '編集', "tweets/#{tweet.id}/edit" %>
</p>
<% end %>
<p><%= link_to '新規追加', 'tweets/new' %></p>
